.DS_Store
lib_managed/
project/boot/
*/project/boot/
project/build/target/
*/project/build/target/
project/plugins/target/
project/plugins/project/build.properties
*/project/plugins/target/
project/plugins/src_managed/
*/project/plugins/src_managed/
*/src_managed/
*/tests/src_managed/
target/
.idea/
*.iml
*.swp
